#menu {
    background: orange;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
    border-radius: 3px;
    width: 80%;
    margin: 0 auto;
}

#menu a {
    display: none;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: solid orange;
    color: black;
}

#menu a:hover {
    border: solid #935f00;
}

main > section {
    display: none;
    padding: 20px 5px;
}

section h1 {
    margin: 10px 0px;
    font-size: 1.2em;
}

table th {
    padding: 10px;
    background: #3232ff;
    border-radius: 10px;
}

table td {
    padding: 5px 10px;
    background: #9696ff;
    border-radius: 10px;
}

#infoBox, #errorBox, #loadingBox {
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}

#loadingBox {
    background-image: url("../images/load.jpg");
    background-size: auto;
    color: black;
}

#infoBox {
    background-image: url("../images/info.jpg");
    background-size: auto;
    color: black;
}

#errorBox {
    background-image: url("../images/error.jpg");
    background-size: auto;
    color: black;
}

footer {
    background: orange;
    padding: 5px 10px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 3px;
    width: 80%;
    margin: 0 auto;
}

#homeFormat {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#cheatTags {
    resize: none;
}

.textTitle {
    text-align: center;
    margin: 10px auto;
    width: 30%;
    padding: 5px;
    background: orange;
    border-radius: 10px;
}

.textInfo {
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    width: 20%;
    padding: 5px;
    background: #dc8e00;
    border-radius: 10px;
    border: solid #dc8e00;
}

.inputInfo {
    text-align: center;
    margin: 0 auto;
    width: 15%;
    padding: 5px;
    background: #925e00;
    border-radius: 10px;
    border: solid #925e00;
}
.inputButton{
    text-align: center;
    margin: 0 auto;
    width: 80px;
    padding: 5px;
    background: #925e00;
    border-radius: 10px;
    border: solid #925e00;
    display: block;
}

.inputInfo:hover{
    border: solid orange;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.tableFormat{
    margin: 0 auto;
}
